<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Tea on Nike</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- Bootstrap --}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {{!-- jQuery --}}
        <script src="https://code.jquery.com/jquery-3.4.1.js"
       integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        {{!-- Stylesheet --}}
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    </head>
    <body>
        <header>
            <h1 id="app-name">The <img id="teacup" src="../assets/img/tea.png"> on Nike</h1>
        </header>
        <div class="container">{{{body}}}</div>
        <script type="text/javascript" src="../assets/js/app.js"></script>
    </body>
</html>