<button class="btn btn-outline-warning" id="add-shoes" type="button">Show Me Some Shoes</button>
<a href="/saved"><button class="btn btn-outline-warning" id="saved-shoes" type="button" href="/saved.handlebars">Saved Shoes</button></a>

<div class="shoe-landing">
</div>